<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Movie #<%= @movie.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/movies" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/movies/<%= @movie.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit movie
        </a>
      </div>

      <div class="col">
        <a href="/delete_movie/<%= @movie.id %>" class="btn btn-block btn-outline-secondary">
          Delete movie
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @movie.title %>
      </dd>

      <dt>
        Year
      </dt>
      <dd>
        <%= @movie.year %>
      </dd>

      <dt>
        Duration
      </dt>
      <dd>
        <%= @movie.duration %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @movie.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @movie.image %>
      </dd>

      <dt>
        Director
      </dt>
      <dd>
        <% if @movie.director.present? %>
          <a href="/directors/<%= @movie.director_id %>">
            <%= @movie.director.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@movie.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@movie.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "movie_templates/movie_roles" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "movie_templates/movie_cast" %>
  </div>
</div>
