<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All actors
    </h1>

    <a href="/actors/new" class="btn btn-block btn-outline-secondary">
      Add a new actor
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "actor_templates/actors_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Dob
        </th>

        <th>
          Bio
        </th>

        <th>
          Image
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @actors.each do |actor| %>
      <tr>
        <td>
          <%= actor.id %>
        </td>

        <td>
          <%= actor.name %>
        </td>

        <td>
          <%= actor.dob %>
        </td>

        <td>
          <%= actor.bio %>
        </td>

        <td>
          <%= actor.image %>
        </td>

        <td>
          <%= time_ago_in_words(actor.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(actor.updated_at) %> ago
        </td>

        <td>
          <a href="/actors/<%= actor.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @actors, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
