<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Actor #<%= @actor.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/actors" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/actors/<%= @actor.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit actor
        </a>
      </div>

      <div class="col">
        <a href="/delete_actor/<%= @actor.id %>" class="btn btn-block btn-outline-secondary">
          Delete actor
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @actor.name %>
      </dd>

      <dt>
        Dob
      </dt>
      <dd>
        <%= @actor.dob %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @actor.bio %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @actor.image %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@actor.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@actor.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "actor_templates/actor_roles" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "actor_templates/actor_filmography" %>
  </div>
</div>
