<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All roles
    </h1>

    <a href="/roles/new" class="btn btn-block btn-outline-secondary">
      Add a new role
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "role_templates/roles_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Movie
        </th>

        <th>
          Actor
        </th>

        <th>
          Character name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @roles.each do |role| %>
      <tr>
        <!-- Display role.id start -->
        <td>
          <%= role.id %>
        </td>
        <!-- Display role.id end -->

        <!-- Display role.movie_id start -->
        <td>
          <% if role.movie.present? %>
            <a href="/movies/<%= role.movie.id %>">
              <%= role.movie.title %>
            </a>
          <% end %>
        </td>
        <!-- Display role.movie_id end -->

        <!-- Display role.actor_id start -->
        <td>
          <% if role.actor.present? %>
            <a href="/actors/<%= role.actor.id %>">
              <%= role.actor.name %>
            </a>
          <% end %>
        </td>
        <!-- Display role.actor_id end -->

        <!-- Display role.character_name start -->
        <td>
          <%= role.character_name %>
        </td>
        <!-- Display role.character_name end -->

        <!-- Display role.created_at start -->
        <td>
          <%= time_ago_in_words(role.created_at) %> ago
        </td>
        <!-- Display role.created_at end -->

        <!-- Display role.updated_at start -->
        <td>
          <%= time_ago_in_words(role.updated_at) %> ago
        </td>
        <!-- Display role.updated_at end -->

        <td>
          <a href="/roles/<%= role.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @roles, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
