<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Role #<%= @role.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/roles" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/roles/<%= @role.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit role
        </a>
      </div>

      <div class="col">
        <a href="/delete_role/<%= @role.id %>" class="btn btn-block btn-outline-secondary">
          Delete role
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Movie
      </dt>
      <dd>
        <% if @role.movie.present? %>
          <a href="/movies/<%= @role.movie_id %>">
            <%= @role.movie.title %>
          </a>
        <% end %>
      </dd>

      <dt>
        Actor
      </dt>
      <dd>
        <% if @role.actor.present? %>
          <a href="/actors/<%= @role.actor_id %>">
            <%= @role.actor.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Character name
      </dt>
      <dd>
        <%= @role.character_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@role.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@role.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

