<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Role #<%= @role.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/roles" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link role start -->
      <div class="col">
        <a href="/roles/<%= @role.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit role
        </a>
      </div>
      <!-- Edit link role end -->

      <!-- Delete link role start -->
      <div class="col">
        <a href="/delete_role/<%= @role.id %>" class="btn btn-block btn-outline-secondary">
          Delete role
        </a>
      </div>
      <!-- Delete link role end -->
    </div>

    <dl>
      <dt>
        Movie
      </dt>
      <!-- Display movie_id start -->
      <dd>
        <%= @role.movie_id %>
      </dd>
      <!-- Display movie_id end -->

      <dt>
        Actor
      </dt>
      <!-- Display actor_id start -->
      <dd>
        <%= @role.actor_id %>
      </dd>
      <!-- Display actor_id end -->

      <dt>
        Character name
      </dt>
      <!-- Display character_name start -->
      <dd>
        <%= @role.character_name %>
      </dd>
      <!-- Display character_name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@role.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@role.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
